<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Ooops 404</title>
</head>
<body>
    <div class="m-10 p-5">
        <h3 class="text-xl m-4" >Ooops!! Seems like what you're looking for doesn't exist!</h3>
        <a href="/" class="rounded border border-green-200 p-4 hover:bg-teal-300">Go Back</a>
    </div>
</body>
</html>